{% if issue|default('') %}
<div class="modal-dialog issue-show-modal">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="gridSystemModalLabel">
        {% if issue.priority == '3' %}
          <button class="btn btn-material-deep-orange" title="优先级：高"># {{ issue.id }}</button>
        {% elseif issue.priority == '2' %}
          <button class="btn btn-material-blue" title="优先级：中"># {{ issue.id }}</button>
        {% elseif issue.priority == '1' %}
          <button class="btn btn-material-indigo-100" title="优先级：低"># {{ issue.id }}</button>
        {% endif %}
      </h4>
    </div>

    <div class="modal-body">
      <div class="row issue-show">
        <div class="col-md-9 issue-modal-image">
          <img src="{{ issue.image }}" class="img-responsive">
        </div>
        <div class="col-md-3">
          <div class="issue-metas">
            <div class="issue-note">
              {{ issue.note }}
            </div>

            <div class="issue-users">

              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="{{ users[issue.createdUserId].avatar }}" width="40" height="40">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <small class="pull-right text-info">报告人</small>
                    <small><strong>{{ users[issue.createdUserId].nickname }}</strong></small>
                  </h4>
                  <small class="text-muted">{{ issue.createdTime|date('Y-m-d h:i:s') }}</small>
                </div>
              </div>
              {% if issue.doUserId %}
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="{{ users[issue.doUserId].avatar }}" width="40" height="40">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <small class="pull-right text-primary">解决人</small>
                      <small><strong>{{ users[issue.doUserId].nickname }}</strong></small>
                    </h4>
                    <small class="text-muted">{{ issue.doingTime|date('Y-m-d h:i:s') }}</small>
                  </div>
                </div>
              {% endif %}
              {% if issue.checkUserId %}
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="{{ users[issue.checkUserId].avatar }}" width="40" height="40">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <small class="pull-right text-muted">验收人</small>
                      <small><strong>{{ users[issue.checkUserId].nickname }}</strong></small>
                    </h4>
                    <small class="text-muted">{{ issue.checkingTime|date('Y-m-d h:i:s') }}</small>
                  </div>
                </div>
              {% endif %}
            </div>

            <div class="issue-actions text-center">
              {% set issueStatus = issue.status %}
              {% if issueStatus == 'todo' %}
                <button class="btn btn-primary issue-btn">领</button>
              {% elseif issueStatus == 'doing' %}
                <button class="btn btn-primary">修</button>
              {% elseif issueStatus == 'done' %}
                <button class="btn btn-primary">已修</button>
              {% elseif issueStatus == 'checking' %}
                <button class="btn btn-primary">验收</button>
              {% elseif issueStatus == 'finished' %}
                <button class="btn btn-primary">已验</button>
              {% endif %}
            </div>

            
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>
{% endif %}