{% for issue in issues %}
  <div class="col-md-3">
    <div class="thumbnail issue-grid" data-id="{{ issue.id }}">
      <img src="{{ issue.image }}" class="issue-image img-responsive" data-url="{{ path('issue', {id:issue.id}) }}" data-toggle="modal" data-target="#issue-show-modal">
      <div class="issue-id">
        {% if issue.priority == '3' %}
          <button class="btn btn-material-deep-orange" title="优先级：高"># {{ issue.id }}</button>
        {% elseif issue.priority == '2' %}
          <button class="btn btn-material-blue" title="优先级：中"># {{ issue.id }}</button>
        {% elseif issue.priority == '1' %}
          <button class="btn btn-material-indigo-100" title="优先级：低"># {{ issue.id }}</button>
        {% endif %}
      </div>
      <div class="douser-avatar">
        {% if issue.doUserId %}
          <img src="{{ users[issue.doUserId].avatar }}">
        {% endif %}
      </div>
      <div class="mask">
        {% set issueStatus = issue.status %}
        {% if issueStatus == 'todo' %}
          {% if issue.doUserId == 1 %}
            <button class="btn btn-primary issue-btn" data-url="{{ path('issue_bind') }}">修</button>
          {% else %}
            <button class="btn btn-primary issue-btn" data-url="{{ path('issue_bind') }}">领</button>
          {% endif %}
        {% elseif issueStatus == 'doing' %}
          <button class="btn btn-primary issue-btn" data-url="{{ path('issue_bind') }}">已修</button>
        {% elseif issueStatus == 'done' %}
          <button class="btn btn-primary issue-btn" data-url="{{ path('issue_bind') }}">验收</button>
        {% elseif issueStatus == 'checking' %}
          <button class="btn btn-primary issue-btn" data-url="{{ path('issue_bind') }}">已验</button>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}