{% import "macro.html.twig" as web_macro %}
<!DOCTYPE html>
<html class="">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BugLife - 可视化Bug追踪的领导者{% endblock %}</title>
  <link href="{{ app.request.basepath }}/css/bootstrap.css/3.2.5/css/bootstrap.css" rel="stylesheet" />
  <link href="{{ app.request.basepath }}/css/bootstrap-material-design/css/roboto.css" rel="stylesheet" />
  <link href="{{ app.request.basepath }}/css/bootstrap-material-design/css/material-fullpalette.css" rel="stylesheet" />
  <link href="{{ app.request.basepath }}/css/bootstrap-material-design/css/ripples.css" rel="stylesheet" />
  <link href="{{ app.request.basepath }}/css/animate.css" rel="stylesheet" />
  <link href="{{ app.request.basepath }}/css/quickbug.css" rel="stylesheet" />
</head>

{% set nav = nav|default(null) %}

<body>
  {% block body %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      {# <div class="navbar-header"> #}
        <a class="navbar-brand" href="#">BugLife</a>
      {# </div> #}

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SegmentFault 2015.10 迭代三 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="glyphicon glyphicon-plus text-primary"></i> 添加项目</a></li>
            <li class="dropdown-header">项目</li>
            <li><a href="#">EduSoho 2015.10 迭代三</a></li>
            <li><a href="#">EduSoho 2015.10 迭代二</a></li>
            <li><a href="#">EduSoho 2015.10 迭代一</a></li>
          </ul>
        </li>
      </ul>

      <div class="navbar-right navbar-user">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="/img/1.jpg" width="36" height="36">
            李雷 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">账户设置</a></li>
            <li><a href="#">退出</a></li>
          </ul>
        </div>
      </div>

{#       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

        </li>
      </ul> #}

    </div>
  </div>

  <div class="container-fluid" id="main">
    {% block main %}{% endblock %}
  </div><!-- /container-fluid -->
  {% endblock %}

  {% include 'userlist-floatbar.html.twig' %}

  <div class="issue-create-btn">
    <button class="btn btn-fab btn-raised btn-primary" data-toggle="modal" data-target="#issue-create-modal"><i class="mdi-content-add"></i></button>
  </div>

{% block footer %}{% endblock %}

  <div id="issue-show-modal" class="modal" data-backdrop="false">
    {% include 'default/issue-show-modal.html.twig' %}
  </div>

  <div id="issue-create-modal" class="modal" data-backdrop="false">
    {% include 'default/issue-create-modal.html.twig' %}
  </div>

  <script>
    var app = {};
    app.asset_version = {{ app.asset_version }};
    {% if script_controller is defined %}
      app.controller = '{{ script_controller }}';
    {% endif %}
  </script>
  <script src="{{ app.request.basepath }}/jslib/seajs/2.3.0/dist/sea.js" id="seajsnode"></script>
  <script src="{{ app.request.basepath }}/jslib/seajs/seajs-style/1.0.2/seajs-style.js"></script>
  <script src="{{ app.request.basepath }}/jslib/seajs-global-config.js"></script>
  <script>
    seajs.use("{{ app.request.basepath }}/js/app.js");
  </script>
</body>
</html>
