
<div class="userlist-flotbar">
{% for user in users %}
  <div class="userlist-user" data-id="{{ user.id }}" data-dnd="{{ user.avatar }}" data-nickname="{{ user.nickname }}" data-url="{{ path('issue_bind') }}">
    <img src="{{ user.avatar }}">
  </div>
{% endfor %}
</div>