<div class="userlist-flotbar">
  <div class="userlist-user" data-id="1" data-nickname="" data-url="{{ path('issue_bind') }}">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="2" data-nickname="xxx" data-url="{{ path('issue_bind') }}">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="3" data-nickname="xxx" data-url="{{ path('issue_bind') }}">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="4" data-nickname="xxx" data-url="{{ path('issue_bind') }}">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="5" data-nickname="xxx" data-url="{{ path('issue_bind') }}">
    <img src="/avatar.png">
  </div>
</div>